<!DOCTYPE html>
<html>
    <head>
        <title> Mentorski_app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
    <nav class="navbar" style="background-color:whitesmoke"> 
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% if request.user.is_staff %}
                <li><a href="{% url 'students' %}">Students</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
            {% endif %}
              </ul>     
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>