{% extends 'base.html' %}
{% block content %}
 
{% if usr.status == 'redovni' %}
<div class="row" style="margin-left:15px;">
    
    <div class="col-sm-6">
        <h4>Predmeti:</h4>
          
        <table class="table table-bordered">
            <thead><tr></tr></thead>
            <tbody>
            {% for i in neupisanir %} 
            <tr><td>
                {% for predmet in svi %}  
                {% if i == predmet.id %}
                  <button type="submit" form="{{i}}"><i class="fa fa-pencil" style="color: blue;"></i></button>
                        <form id="{{ i }}" action="{%url 'add_subj' predmet.id usr.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form>
                    {{predmet.ime}} 
            </td></tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div> 

    <div class="col-sm-6">
        <h4>Upisi ({{usr.email}}):</h4>
    <table class="table table-bordered">
        <thead>
            <tr><th>Semestar 1:</th></tr>
        </thead>
        <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_redovni == 1 %}
                {% if u.status == "passed" %}
                <tr>
                    <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
                </tr>
                {% else %}
                <tr>
                    <td><button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                            <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                            </form>
                    <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                    <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                    <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                    {{u.predmeti_id.ime}}
                             
                    </td>
                     </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}       
            </tbody>
    </table>

    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Semestar 2:</th>
                </tr>
            </thead>
            <tbody>
                {% for u in upisni %}
                    {% if u.predmeti_id.sem_redovni == 2 %}
                        {% if u.status == "passed" %}
                    <tr>
                    <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
                     </tr>
                        {% else %}
                    <tr><td>
                        <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                        <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form>
                        <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                        <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form> 
                        <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                        {{u.predmeti_id.ime}}    
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}       
            </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Semestar 3:</th>
            </tr>
        </thead>
        <tbody>
            {% for u in upisni %}
                {% if u.predmeti_id.sem_redovni == 3 %}
                    {% if u.status == "passed" %}
                <tr>
                    <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
                 </tr>
                    {% else %}
                <tr><td>
                    <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                    <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form>    
                    <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                    <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                    <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                    {{u.predmeti_id.ime}}    
                    </td>
                </tr>
                {% endif %}
                {% endif %}
            {% endfor %}       
        </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 4:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_redovni == 4 %}
                {% if u.status == "passed" %}
            <tr>
            <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>    
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 5:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_redovni == 5 %}
                {% if u.status == "passed" %}
            <tr>
                <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>   
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 6:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_redovni == 6 %}
                {% if u.status == "passed" %}
            <tr>
                <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>    
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table> 
      
    </div>    
</div>    
{% endif %}

{% if usr.status == 'izvanredni' %}
<div class="row" style="margin-left:15px;">
    <div class="col-sm-6">
        <h4>Predmeti:</h4>
          
        <table class="table table-bordered">
            <thead><tr></tr></thead>
            <tbody>
            {% for n in neupisanii %} 
            <tr><td>
                {% for predmet in svi %}  
                {% if n == predmet.id %}
                  <button type="submit" form="{{n}}"><i class="fa fa-pencil" style="color: blue;"></i></button>
                        <form id="{{ n }}" action="{%url 'add_subj' predmet.id usr.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form>
                    {{predmet.ime}} 
            </td></tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div> 

    <div class="col-sm-6">
        <h4>Upisi ({{usr.email}}):</h4>
        <table class="table table-bordered">
            <thead>
                <tr><th>Semestar 1:</th></tr>
            </thead>
            <tbody>
            {% for u in upisni %}
                {% if u.predmeti_id.sem_izvanredni == 1 %}
                    {% if u.status == "passed" %}
                    <tr>
                        <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                        {{u.predmeti_id.ime}}</td>
                    </tr>
                    {% else %}
                    <tr><td>
                    <button type="submit" form={{u.id}} ><i class="fa fa-check-square" style="color: blue;"></i></button>
                        <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form>
                    <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                        <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form> 
                        <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                        {{u.predmeti_id.ime}}
                                 
                             </td>
                         </tr>
                        {% endif %}
                        {% endif %}
                    {% endfor %}       
                </tbody>
        </table>

    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Semestar 2:</th>
                </tr>
            </thead>
            <tbody>
                {% for u in upisni %}
                    {% if u.predmeti_id.sem_izvanredni == 2 %}
                        {% if u.status == "passed" %}
                    <tr>
                        <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                            {{u.predmeti_id.ime}}</td>
                     </tr>
                        {% else %}
                    <tr><td>
                        <button type="submit" form={{u.id}}><i class="fa fa-check-square" style=" color: blue;"></i></button>
                        <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form>    
                        <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                        <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                        </form> 
                        <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                        {{u.predmeti_id.ime}}    
                        </td>
                    </tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}       
            </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Semestar 3:</th>
            </tr>
        </thead>
        <tbody>
            {% for u in upisni %}
                {% if u.predmeti_id.sem_izvanredni == 3 %}
                    {% if u.status == "passed" %}
                <tr>
                    <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                        {{u.predmeti_id.ime}}</td>
                 </tr>
                    {% else %}
                <tr><td>
                    <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                    <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form>    
                    <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                    <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                    <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                    {{u.predmeti_id.ime}}    
                    </td>
                </tr>
                {% endif %}
                {% endif %}
            {% endfor %}       
        </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 4:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_izvanredni == 4 %}
                {% if u.status == "passed" %}
            <tr>
            <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>    
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 5:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_izvanredni == 5 %}
                {% if u.status == "passed" %}
            <tr>
            <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>    
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 6:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_izvanredni == 6 %}
                {% if u.status == "passed" %}
            <tr>
                <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>    
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 7:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_izvanredni == 7 %}
                {% if u.status == "passed" %}
            <tr>
            <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>    
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Semestar 8:</th>
        </tr>
    </thead>
    <tbody>
        {% for u in upisni %}
            {% if u.predmeti_id.sem_izvanredni == 8 %}
                {% if u.status == "passed" %}
            <tr>
            <td><i class="fa fa-check-square-o" style="color:rgb(0, 4, 255);"></i>
                    {{u.predmeti_id.ime}}</td>
             </tr>
                {% else %}
            <tr><td>
                <button type="submit" form={{u.id}}><i class="fa fa-check-square" style="color: blue;"></i></button>   
                <form id={{u.id}} action="{%url 'pass_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form>
                <button type="submit" form={{u.predmeti_id}}><i class="fa fa-window-close" style="color: red;"></i></button>
                 <form id={{u.predmeti_id}} action="{%url 'remove_subj' u.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                </form> 
                <button type="submit" form={{u.status}}><i class="fa fa-repeat" style="color:rgb(73, 73, 73);"></i></button>
                    <form id={{u.status}} action="{%url 'repeat_subj' u.predmeti_id.id usr.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                    </form> 
                {{u.predmeti_id.ime}}    
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% endfor %}       
    </tbody>
</table> 
      
    </div>    
</div>    
{% endif %}
{% endblock %}